{% extends 'sec.html.twig' %}
{% block title %}Кузовные размеры - регистрация пользователя{% endblock %}

{% block body %}
    <section class="container py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Спасибо за регистрацию</h3></div>
                        <div class="card-body">
                      <p>Вы прошли регистрацию на сайте https://avtobelarus.com: <br><br>На указанный Вами при регистрации адрес электронной почты направлено письмо. Для получения доступа к закрытым материалам сайта, пожалуйста, подвердите вашу электронную почту, перейдя по ссылке в письме.</p>
                      <p>Введенный вами адрес не будет использоваться для рассылок в рекламных целях.</p>
                            <p>Спасибо :)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

