<h1>Пожалуйста, подтвердите ваш адрес электронной почты!</h1>

<p>Вы прошли регистрацию на сайте avtobelarus.com. Для получения полного доступа к материалам сайта, пожалуйста, подтвердите вашу электронную почты перейдя по следующей ссылке:<br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Эта ссылка действительна в течение {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
Спасибо!
</p>
