{% extends 'admin/main.html.twig' %}
{% block main %}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Редактировать модель</h5>
            </div>
            <div class="card-body">
                {{ include('admin/body/_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="col-4">
        {{ body.bodycategory}}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#myframe').on('load', function () {
                $(this).contents().on('click','.select',function () {
                    var path = $(this).attr('data-path')
                    $('#body_images').val(path);
                    $('#image').attr('src', path)
                    $('#bodyModal').modal('hide')
                });
            });
        });
    </script>
{% endblock %}
