{% extends 'base.html.twig' %}

{% block title %}New Body{% endblock %}

{% block body %}
    <h1>Create new Body</h1>

    {{ include('admin/body/_form.html.twig') }}

    <a href="{{ path('app_admin_body_index') }}">back to list</a>
{% endblock %}
