{% extends 'base.html.twig' %}

{% block title %}Автомобили в Беларуси. Законодательство, кузовные размеры, ремонт.{% endblock %}

{% block body %}
    <section class="container py-5">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </section>
    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 10rem"></div>
    </div>
    <!-- Content section-->
    <section class="container">
            <div class="row justify-content-center">
                <h2>Новые чертежи кузова</h2>
                    <div class="row">
                        <div class="col-4">
                            <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                            <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                        </div>
                        <div class="col-4">
                            <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                            <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                        </div>
                        <div class="col-4">
                            <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                            <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                        </div>
                    </div>

                </div>
    </section>
{% endblock %}
