{% extends 'base.html.twig' %}
{% block title %}Автомобили в Беларуси. ремонт автомобиля своими руками, кузовные размеры, ремонт кузова, ремонт.{% endblock %}

{% block body %}
    <section class="container">
            <div class="row justify-content-center">
                <h5 class="text text-success">Карта сайта. Автобеларус</h5>
                {% for category in categories %}
                    <div class="row">
                    <h5>{{ category.title }}</h5>
                        <ul>
                    {% for post in category.posts %}
                        {%  if (post.published == 1) %}
                           <li class="lead"><a href="{{ path('post_show',
                               { 'alias': post.alias }) }}">{{post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}
